[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "meghna-hugo"]
	path = themes/meghna-hugo
	url = git@github.com:themefisher/meghna-hugo.git
